<!DOCTYPE html>
<html>
<head>
  <title>Erased Tapes Inventory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<header>
  <h1>Erased Tapes</h1>
  <% if current_user %>
    <p>
      currently logged in as <%= current_user.email %>
    </p>

    <form action="/session" method="post">
      <input type="hidden"
        name="authenticity_token"
        value=" <%= form_authenticity_token %>">

      <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Log Out">
    </form>
  <% else %>
    <form action="/users/new" method="get">
      <input type="submit" value="Sign Up">
    </form>

    <form action="/session/new" method="get">
      <input type="submit" value="Log In">
    </form>
  <% end %>
</header>

<body>

<%= yield %>

</body>
</html>
